<!--
- Copyright Julien Vinber, julien@vinber.fr
-
- Licensed under the CeCILL-C and LGPL V3.
- you may not use this file except in compliance with the License.
- You may obtain a copy of the License at
-
- http://www.cecill.info/licences/Licence_CeCILL-C_V1-fr.html
- http://www.cecill.info/licences/Licence_CeCILL-C_V1-en.html
-
- https://www.gnu.org/licenses/lgpl-3.0-standalone.html
-
- As a counterpart to the access to the source code and  rights to copy,
- modify and redistribute granted by the license, users are provided only
- with a limited warranty  and the software's author,  the holder of the
- economic rights,  and the successive licensors  have only  limited
- liability.
-
- In this respect, the user's attention is drawn to the risks associated
- with loading,  using,  modifying and/or developing or reproducing the
- software by the user in light of its specific status of free software,
- that may mean  that it is complicated to manipulate,  and  that  also
- therefore means  that it is reserved for developers  and  experienced
- professionals having in-depth computer knowledge. Users are therefore
- enc-ouraged to load and test the software's suitability as regards their
- requirements in conditions enabling the security of their systems and/or
- data to be ensured and,  more generally, to use and operate it in the
- same conditions as regards security.
-
- The fact that you are presently reading this means that you have had
- knowledge of the CeCILL-C license and that you accept its terms.
-->
<script type="text/javascript">
    console.log(RED._);
    RED.nodes.registerType('jvmg_gate', {
        category: 'logical',
        color: '#DEBD5C',
        defaults: {
            name: {value: ""},
            default: {
                value: true,
                required: "true"
            },
            trigger: {value:"", type:"jvmg_trigger", required : true}
        },
        inputs: 1,
        outputs: 1,
        icon: "gate.png",
        paletteLabel: RED._("node-red-contrib-message-gate/jvmg_gate:gate.name"),
        label: function () {
            return this.name || RED._("node-red-contrib-message-gate/jvmg_gate:gate.name");
        },
    });
</script>

<script type="text/x-red" data-template-name="jvmg_gate">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> <span data-i18n="gate.param.name"></span></label>
        <input type="text" id="node-input-name"  data-i18n="[placeholder]gate.param.name">
    </div>

     <div class="form-row">
        <label for="node-input-default"><i class="icon-tag"></i> <span data-i18n="gate.param.defaultState"></span></label>
        <select name="" id="">
            <option value="true" data-i18n="gate.status.open"></option>
            <option value="false" data-i18n="gate.status.close"></option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-trigger"><i class="icon-tag"></i> <span data-i18n="gate.param.key"></span></label>
        <input type="text" id="node-input-trigger">
    </div>


</script>

<script type="text/x-red" data-help-name="jvmg_gate">
    <span data-i18n="key.context.help"></span>
</script>
