<!--
- Copyright Julien Vinber, julien@vinber.fr
-
- Licensed under the CeCILL-C and LGPL V3.
- you may not use this file except in compliance with the License.
- You may obtain a copy of the License at
-
- http://www.cecill.info/licences/Licence_CeCILL-C_V1-fr.html
- http://www.cecill.info/licences/Licence_CeCILL-C_V1-en.html
-
- https://www.gnu.org/licenses/lgpl-3.0-standalone.html
-
- As a counterpart to the access to the source code and  rights to copy,
- modify and redistribute granted by the license, users are provided only
- with a limited warranty  and the software's author,  the holder of the
- economic rights,  and the successive licensors  have only  limited
- liability.
-
- In this respect, the user's attention is drawn to the risks associated
- with loading,  using,  modifying and/or developing or reproducing the
- software by the user in light of its specific status of free software,
- that may mean  that it is complicated to manipulate,  and  that  also
- therefore means  that it is reserved for developers  and  experienced
- professionals having in-depth computer knowledge. Users are therefore
- enc-ouraged to load and test the software's suitability as regards their
- requirements in conditions enabling the security of their systems and/or
- data to be ensured and,  more generally, to use and operate it in the
- same conditions as regards security.
-
- The fact that you are presently reading this means that you have had
- knowledge of the CeCILL-C license and that you accept its terms.
-->
<script type="text/javascript">
    RED.nodes.registerType('jvmg_trigger', {
        category: 'config',
        defaults: {
            trigger: {value: "", required: true},
        },
        label: function () {
            return this.trigger;
        }
    });
</script>

<script type="text/x-red" data-template-name="jvmg_trigger">
    <div class="form-row">
        <label for="node-config-input-trigger"><i class="icon-bookmark"></i> <span data-i18n="trigger.param.key"></span></label>
        <input type="text" id="node-config-input-trigger">
    </div>

</script>